
*.bak

*-checkpoint.*

.ipynb_checkpoints/*
.ipynb_checkpoints/*/

*/.ipynb_checkpoints/*
*/.ipynb_checkpoints/*/

*.pyc


Zotero_Record/*/
Zotero_Record/zotero.sqlite?*

Classware/*.pdf

Source/*
Process/*
Output_*/*
Output_*/*/

Zotero_Record/*/
Zotero_Record/zotero.sqlite?*
